# Pré-requisitos
*.d

# Arquivos de objeto
*.o
*.ko
*.obj
*.elf

# Links de saida
*.ilk
*.map
*.exp

# Cabeçalhos pré-compilados
*.gch
*.pch

# Bibliotecas
*.lib
*.a
*.la
*.lo

# Objetos compartilhados (incluindo DLLs do Windows)
*.dll
*.so
*.so.*
*.dylib

# Executáveis
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Arquivos de depuração
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# arquivos de informações de depuração
*.dwo